# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_URL=wss://admitx-bbkvldjs.livekit.cloud
LIVEKIT_API_KEY=APIaXasHMKSHh93
LIVEKIT_API_SECRET=dblf6UXoVYa9HQovwBVuCXmGAVV5zOsNQYev8ORsSmB

# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME=

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
